.add-list-card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 2rem 0 grey;

  width: 5rem;
  height: 4rem;

  padding: .5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}