.list-card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 2rem 0 grey;

  width: fit-content;
  min-width: 7rem;
  max-width: 25rem;
  min-height: 5rem;

  padding: .5rem;
}
.list-card .title-field {
  border-bottom: 1px solid gray;
}
.list-card ul {
  list-style: none;
}
.list-card ul li {
  padding: .1rem;
  display: flex;
  justify-content: space-between;
}